<ion-header class="ion-no-border">
  <ion-toolbar>
    <img height="50px" src="../../../assets/images/logo.png"/>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      

      

        <ion-card>

          <img src="../../../assets/images/zero.jpg"/>
    
          <div class="fab-container">
            
                <ion-icon class="ionicon" name="cart-outline"></ion-icon>             
              
          </div>
          <ion-card-title>Zero Painting</ion-card-title>
    
          <ion-card-content>
           
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat libero sapien, quis tempor elit semper et. Ut posuere venenatis augue id sollicitudin. Mauris sapien velit, interdum non bibendum ac, hendrerit at eros. Donec vulputate efficitur nulla, eget feugiat tortor finibus sed. Maecenas volutpat a lorem sed tempus. Aenean ornare.</p>
            <h4>Price : <bold>100$</bold></h4>
          </ion-card-content>
    
        </ion-card>

        <ion-card>

          <img src="../../../assets/images/zero.jpg"/>
    
          <div class="fab-container">
            
                <ion-icon class="ionicon" name="cart-outline"></ion-icon>             
              
          </div>
          <ion-card-title>Zero Painting</ion-card-title>
    
          <ion-card-content>
           
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat libero sapien, quis tempor elit semper et. Ut posuere venenatis augue id sollicitudin. Mauris sapien velit, interdum non bibendum ac, hendrerit at eros. Donec vulputate efficitur nulla, eget feugiat tortor finibus sed. Maecenas volutpat a lorem sed tempus. Aenean ornare.</p>
            <h4>Price : <bold>100$</bold></h4>
          </ion-card-content>
    
        </ion-card>

      

       

      
    </ion-row>
  </ion-grid>

   

  
</ion-content>
